version: "3.8"

services:
  mongodb:
    image: mongo:6
    container_name: mongodb
    ports:
      - "27017:27017"
    restart: always

  backend:
    image: anjankumarcr36/backend:latest
    container_name: backend
    depends_on:
      - mongodb
    ports:
      - "8080:8080"
    restart: always

  frontend:
    image: anjankumarcr36/frontend:latest
    container_name: frontend
    depends_on:
      - backend
    ports:
      - "80:80"
    restart: always