name: CI-CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Backend Image
        run: |
          docker build -t anjankumarcr36/backend:latest ./backend
          docker push anjankumarcr36/backend:latest

      - name: Build Frontend Image
        run: |
          docker build -t anjankumarcr36/frontend:latest ./frontend
          docker push anjankumarcr36/frontend:latest

      - name: Create SSH Key File
        run: |
          echo "${{ secrets.VM_SSH_KEY_BASE64 }}" | base64 -d > private_key.pem
          chmod 600 private_key.pem

            - name: Deploy to EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VM_HOST }}
          username: ${{ secrets.VM_USER }}
          key: ${{ secrets.VM_SSH_KEY }}
          port: 22
          script: |
            cd discover-dollar-mean-devops
            docker-compose -f docker-compose.prod.yml pull
            docker-compose -f docker-compose.prod.yml down
            docker-compose -f docker-compose.prod.yml up -d